html,body,h1,h2,h3,h4,h5,h6,p,a,img,input,ul,li,ol,dl,dd,dt{ padding:0; margin:0;}
ul,li{
	list-style: none;
}
a{
	text-decoration:none;
}
html,body{
	margin:0;
	padding:0;
}
body{
	position:relative;
}
header{
	width:100%;
	height:57px;
	background:#25292e;
}
/*header*/
#header{
	width:1000px;
	height:57px;
	margin:0 auto;
	
}
#header img{
	float:left;
	opacity:1;
}
#header img:hover{
	opacity:0.6;
}
#header ul{
	float:right;
}
#header li{
	display:inline-block;
	height:57px;
	line-height:57px;
	
}
#header li a{
	font-size:12px;
	color:#666666;
}
#header li span{
	color:#666666;
	margin-left:16px;
	margin-right:16px;
}
#header li:nth-child(1) a{
	color:#a0a1cc;
}
/*nav*/
nav{
	width:100%;
	height:45px;
}
#nav{
	width:1000px;
	height:45px;
	margin:0 auto;
	border-bottom:4px solid #ededed;
	position:relative;
	/*background:orange;*/
}
#nav>ul{
	float:left;
	
}
#nav>ul>li{
	display: inline-block;
	height:45px;
	line-height: 45px;
	width:121px;
	margin-right: 38px;
	text-align: center;
}
#nav>ul>li:hover{
	border-bottom:4px solid black;
}
#nav>ul>li:nth-child(1){
	width:118px;
	margin-right: 0px;
	text-align:left;
}
#nav>ul>li:nth-child(5){
	margin-right: 0px;
}
#nav>ul>li a{
	font-size: 14px;
	color:#333333;
}
#nav>span{
	height:45px;
	float:right;
	margin-top:12px;
	color:#ededed;
}
#nav>img{
	float:right;
	margin:15px 13px 11px;
}

#nav>ul>li:nth-child(2) .navbox{
	width:1000px;
	height:500px;
	background:white;
	position:absolute;
	left:0;
	top:50px;
	overflow:hidden;
	z-index:100;
	display:none;
}
#nav>ul>li:nth-child(2):hover .navbox{
	display:block;
}

#nav>ul>li:nth-child(2) .navbox ul{
	width:670px;
	height:500px;
	float:left;
	/*background:orange;*/
}

#nav>ul>li:nth-child(2) .navbox ul li a{
	width:42px;
	display:inline-block;
	float:left;
	margin-top:35px;
	margin-right:53px;
}

#nav>ul>li:nth-child(2) .navbox ul img{
	width:40px;
	height:40px;
	float:left;
}
#nav>ul>li:nth-child(2) .navbox ul p{
	font-size:14px;
	line-height:18px;
	color:gray;
	font-weight:800;
}
#nav>ul>li:nth-child(2)
.navbox .rightbox{
	width:250px;
	height:500px;
	display:inline-block;
	float:right;
	/*background:blue;*/
	
} 
 #nav>ul>li:nth-child(2)
.navbox .rightbox .graybox{
	width:230px;
	height:230px;
	/*background:gray;*/
	overflow:hidden;
	margin-left:12px;
	margin-top:40px;
}
   #nav>ul>li:nth-child(2)
.navbox .rightbox .graybox img{
	width:100%;
	height:100%;
}
  
  
 #nav>ul>li:nth-child(3) ul{
 	position:absolute;
 	width:1000px;
 	height:220px;
 	left:0;
 	top:50px;
 	z-index:1;
 	background:white;
 	display:none;
 }
 #nav>ul>li:nth-child(3) ul li{
 	display:inline-block;
 	float:left;
 	margin-right:68px;
 	margin-top:28px;
 	
 }
  #nav>ul>li:nth-child(3):hover ul{
  	display:block;
  }
  
  
 #nav>ul>li:nth-child(4) ul{
 	position:absolute;
 	width:1000px;
 	height:180px;
 	left:0;
 	top:50px;
 	z-index:1;
 	background:white;
 	display:none;
 }
 #nav>ul>li:nth-child(4) ul li{
 	display:inline-block;
 	float:left;
 	margin-left:20px;
 	margin-right:68px;
 	margin-top:15px;
 	
 }
  #nav>ul>li:nth-child(4):hover ul{
  	display:block;
 }
  /*shoptit*/
 #shoptit{
 	width:1000px;
 	height:130px;
 	margin:10px auto;
 	/*background:blue;*/
 }
 #shoptit .shleft{
 	float:left;
 	padding-top:40px;
 }
 #shoptit .shleft img{
 	float:left;
 	margin-right: 14px;
 }
  #shoptit .shleft .twop{
  
  	float:right;
  }
   #shoptit .shleft .twop P:nth-child(1){
   	font-size:12px;
   	color:#666666;
   }
  #shoptit .shleft .twop P:nth-child(1) span{
  	font-size:10px;
  	color:#8e8e8e;
  }
  #shoptit .shleft .twop P:nth-child(2){
  	font-size:10px;
  	color:#8e8e8e;
  }
#shoptit .shright{
	float:left;
	margin-left:270px;
	margin-top:44px;
}
#shoptit .shright h1{
	display:inline-block;
	font-style:italic;
}
#shoptit .shright span{
	color:#404040;
}
/*Swiper*/
#swiper{
	width:1000px;
	height:520px;
	/*border:1px solid black;*/
	margin:28px auto;
}
/*twoul*/
#twoul{
	width:1000px;
	height:120px;
	margin:0 auto;
	/*background:blue;*/

}
#twoul>ul{
	height:55px;
	border-bottom: 1px solid #f1f1f1;
}
#twoul>ul>li{
	float:left;
	width:67px;
	margin-right:15px;
	height:55px;
	text-align: center;
}
#twoul>ul>li:hover{
	border-bottom:1px solid black;
}
#twoul>ul>li:last-child{
	margin-right:0px;
	margin-left: 90px;
	position:relative;
}
#twoul>ul>li:last-child .prize{
	width:150px;
	height:300px;
	position:absolute;
	left:-50px;
	top:50px;
	background:white;
	display:none;
	z-index:2;
}

#twoul>ul>li:last-child:hover .prize{
	display:block;
}

#twoul>ul>li:last-child .prize li{
	width:120px;
	height:40px;
}
#twoul>ul>li:last-child .prize li:last-child{
	margin-left:0;
}
#twoul>ul>li:last-child .prize li a{
	font-size: 14px;
	display:block;
	width:100%;
	height:100%;
	line-height:40px;
}
#twoul>ul>li:last-child .prize li a:hover{
	background:black;
	color:white;
}




#twoul .uls1 li a{
	color:#333333;
	line-height: 55px;
}

#twoul .uls2{
	height:55px;
	width:80%;
	border-bottom: 1px solid #f1f1f1;
}
#twoul .uls2 li{
	float:left;
	width:67px;
	margin-right:15px;
	height:55px;
	text-align: center;
}
#twoul .uls2 li:hover{
	border-bottom:1px solid black;
}
#twoul .uls2 li a{
	color:#333333;
	line-height: 55px;
}
/*manypicture*/
#manypict{
	width:1000px;
	height:490px;
	margin:8px auto;
}
#manypict>a{
	width:500px;
	height:488px;
	float:left;
	position: relative;
}
#manypict>a img{
	width:100%;
	height:100%;
}
#manypict>a>span{
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;
	background:black;
	opacity:0.7;
	display:none;
}

#manypict>a>span .park{
	display:inline-block;
	margin-top:150px;
	margin-left:190px;
	width:180px;
	height:60px;
}
#manypict>a>span .park img{
	width:52px;
	height:52px;
	float:left;
}
#manypict>a>span .park span{
	font-size: 16px;
	float:left;
	line-height:50px;
	margin-left:10px;
	color:white;
}
#manypict>a>span h2{
	text-align:center;
	margin-top:35px;
	color:blue;
	font-style: italic;
}
#manypict>a>span>p:nth-of-type(1){
	text-align: center;
	margin-top: 35px;
	font-size:18px;
	color:white;
	font-weight:800;
}
#manypict>a>span>p:nth-of-type(2){
	margin-top:18px;
	text-align:center;
	color:white;
	font-size:14px;
}

#manypict>a:hover span{
	display:block;
}
#manypict .fourpic{
	width:490px;
	height:490px;
	float:left;
	margin-left:10px;
}
#manypict .fourpic a{
	display:inline-block;
	width:235px;
	height:235px;
	position:relative;
}
#manypict .fourpic a>img{
	width:100%;
	height:100%;
	margin-left:6px;
	margin-top:6px;
	
}
#manypict .fourpic a>span{
	width:100%;
	height:100%;
	position:absolute;
	background:black;
	opacity:0.7;
	left:0px;
	top:0px;
	display:none;
}
#manypict .fourpic a:hover span{
	display:block;
} 
#manypict .fourpic a>span .park2{
	width:120px;
	height:60px;
	margin-left:70px;
	margin-top:33px;
}
#manypict .fourpic a>span .park2 img{
	width:52px;
	height:52px;
	float:left;
}
#manypict .fourpic a>span .park2 span{
	float:left;
	padding-left:10px;
	padding-top: 17px;
	color:white;
}
#manypict .fourpic a>span h2{
	text-align:center;
	color:blue;
	margin-top:8px;
	font-style: italic;
}
#manypict .fourpic a>span p:nth-of-type(1){
	text-align:center;
	margin-top:18px;
	color:white;
	font-weight: 800;
}
#manypict .fourpic a>span p:nth-of-type(2){
	text-align:center;
	margin-top:6px;
	font-size:14px;
	color:white;
}
#manypict .fourpic a>span p:nth-of-type(3){
	text-align:center;
	margin-top:4px;
	font-size:14px;
	color:white;
}

#MORE{
	width:142px;
	height:45px;
	border:3px solid #25292e;
	margin:100px auto;
}
#MORE P{
	font-size:12px;
	text-align: center;
	line-height: 45px;
	font-weight: 900;
}
#MORE :hover {
	background: #25292e;
	color:white;
}
/*ourshop*/
#our{
	width:100%;
	height:245px;
	background:#fbfdfe;
	margin-top:92px;
	border-top:1px solid #f0f0f0;
}
#our .shop{
	width:1000px;
	height:245px;
	margin:0px auto;
	overflow:hidden;
}
#our .shop .shtop{
	display:inline-block;
	margin-top:50px;
	margin-left:390px;
}
#our .shop .shtop span{
	font-size:14px;
	font-weight:800;
	color:#666666;
}
#our .shop .shbottom{
	margin-top:44px;
}
#our .shop .shbottom li{
	width:250px;
	height:62px;
	display:inline-block;
	float:left;
}
#our .shop .shbottom li img{
	width:60px;
	height:60px;
	float:left;
}
#our .shop .shbottom li .sh2{
	float:left;
	display:inline-block;
	margin-left:18px;
	margin-top:14px;
}
#our .shop .shbottom li .sh2 p{
	font-size: 12px;
}
#our .shop .shbottom li .sh2 p:nth-child(1){
	color:#737373;
}
p:nth-child(2){
	color:#cccccc;
}
/*footer*/
footer{
	width:100%;
	height:225px;
	background:#25292e;
}
#footers{
	width:1000px;
	height:225px;
	margin:auto;
}
#footers .foot-left{
	width:800px;
	height:220px;
	display:inline-block;
	float:left;
}
#footers .foot-left .leftT{
	margin-top:40px;
}
#footers .foot-left .leftT img{
	float:left;
	width:25px;
	height:44px;
	
}
#footers .foot-left .leftT .leftT1{
	display:inline-block;
	float:left;
	margin-left:34px;
}
#footers .foot-left .leftT .leftT1 p{
	color:#5c5c5c;
	font-size: 14px;
	line-height:20px;
}

#footers .foot-left .leftB{
	clear:both;
	padding-top:30px;
}
#footers .foot-left .leftB a{
	border-right:1px solid #45474a;
	padding-left:9px;
	padding-right:11px;
	color:#5c5c5c;
	font-size:12px;
}
#footers .foot-left .leftB a:hover{
	color:white;
}
#footers .foot-left .leftB a:nth-child(1){
	padding-left: 0px;
}
#footers .foot-left .leftB a:last-child{
	border-right:0;
}
#footers .foot-left .leftB p{
	font-size:12px;
	color:#5c5c5c;
	line-height:18px;
}
#footers .foot-right{
	width:180px;
	height:178px;
	display: inline-block;
	float:right;
	padding-top:44px;
}
#footers .foot-right img{
	width:32px;
	height:22px;
	opacity:0.2;
}
#footers .foot-right img:hover{
	opacity:1;
}
#footers .foot-right img:nth-child(2){
	margin-left:26px;
	margin-right:26px;
}
#aside{
	position:fixed;
	background:#5b799a;
	width:90px;
	height:30px;
	border-radius:5px;
	bottom:17px;
	right:23px;
}
#aside img{
	width:17px;
	height:15px;
	margin-top:5px;
}
#aside span{
	font-size:14px;
	color:white;
	margin-top: 5px;;
}
#aside2{
	position:fixed;
	width:54px;
	height:54px;
	/*background:#292d33;*/
	background:url(../img/icon.png) 178px -815px;
	right:47px;
	bottom:48px;
}
#aside2 span{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background:#25292e;
	opacity:0.5;
	
	display:none;
}
#aside2:hover span{
	display:block;
}








